body {
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  min-height: 100vh;
  overflow-x: hidden;
}

.mycardcolor {
  background-color: #485461 !important;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}

.card {
  background-color: #485461 !important;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}
.vertical-nav {
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}
.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
}

#sidebar.active {
  margin-left: -17rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

.separator {
  margin: 3rem 0;
  border-bottom: 1px dashed #fff;
}

.text-uppercase {
  letter-spacing: 0.1em;
}
.text-gray {
  color: #aaa;
}
.nav-link {
  text-transform: capitalize;
}
.nav-link:hover {
  background: #f3f2f2;
}
.text-primary {
  color: #7579e7 !important;
}
@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 120%;

  color: white;
  text-align: center;
}

input {
  padding: 22px 15px !important;
  border: 1px solid #cfd8dc !important;
  border-radius: 4px !important;
  box-sizing: border-box;
  background-color: #fff !important;
  color: #000 !important;
  font-size: 16px !important;
  letter-spacing: 1px;
  position: relative;
}

input:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #1976d2 !important;
  outline-width: 0;
}

.fa-calendar {
  position: absolute;
  top: 13px;
  font-size: 20px;
  color: #1976d2;
  z-index: 1000;
}

#fa-1 {
  left: calc(50% - 40px);
}

#fa-2 {
  left: calc(100% - 40px);
}

.form-control-placeholder {
  position: absolute;
  top: -10px !important;
  padding: 12px 2px 0 2px;
  opacity: 0.5;
}

#end-p {
  left: calc(50% + 4px);
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
  font-size: 95%;
  top: 10px;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
}

::placeholder {
  color: #bdbdbd;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #bdbdbd;
}

::-ms-input-placeholder {
  color: #bdbdbd;
}

button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0;
}

.datepicker {
  background-color: #fff;
  border-radius: 0 !important;
  align-content: center !important;
  padding: 0 !important;
}

.datepicker-dropdown {
  top: 180px !important;
  left: calc(50% - 173.5px) !important;
  border-right: #1976d2;
  border-left: #1976d2;
}

.datepicker-dropdown.datepicker-orient-left:before {
  left: calc(50% - 6px) !important;
}

.datepicker-dropdown.datepicker-orient-left:after {
  left: calc(50% - 5px) !important;
  border-bottom-color: #1976d2;
}

.datepicker-dropdown.datepicker-orient-right:after {
  border-bottom-color: #1976d2;
}

.datepicker table tr td.today,
span.focused {
  border-radius: 50% !important;
  background-image: linear-gradient(#fff3e0, #ffe0b2);
}

thead tr:nth-child(2) {
  background-color: #1976d2 !important;
}

thead tr:nth-child(3) th {
  font-weight: bold !important;
  padding: 20px 10px !important;
  color: #bdbdbd !important;
}

tbody tr td {
  padding: 10px !important;
}

tfoot tr:nth-child(2) th {
  padding: 10px !important;
  border-top: 1px solid #cfd8dc !important;
}

.cw {
  font-size: 14px !important;
  background-color: #e8eaf6 !important;
  border-radius: 0px !important;
  padding: 0px 20px !important;
  margin-right: 10px solid #fff !important;
}

.old,
.day,
.new {
  width: 40px !important;
  height: 40px !important;
  border-radius: 0px !important;
}

.day.old,
.day.new {
  color: #e0e0e0 !important;
}

.day.old:hover,
.day.new:hover {
  border-radius: 50% !important;
}

.old-day:hover,
.day:hover,
.new-day:hover,
.month:hover,
.year:hover,
.decade:hover,
.century:hover {
  border-radius: 50% !important;
  background-color: #eee;
}

.range-start,
.range-end {
  border-radius: 50% !important;
  background-image: linear-gradient(#1976d2, #1976d2) !important;
}

.range {
  background-color: #e3f2fd !important;
}

.prev,
.next,
.datepicker-switch {
  border-radius: 0 !important;
  padding: 10px 10px 10px 10px !important;
  font-size: 18px;
  opacity: 0.7;
  color: #fff;
}

.prev:hover,
.next:hover,
.datepicker-switch:hover {
  background-color: inherit !important;
  opacity: 1;
}

@media screen and (max-width: 726px) {
  .datepicker-dropdown.datepicker-orient-right:before {
    right: calc(50% - 6px);
  }

  .datepicker-dropdown.datepicker-orient-right:after {
    right: calc(50% - 5px);
  }
}
.title {
  margin-top: -80px;
}
