body {
  /* overflow: hidden; */
    background-color: #484c61;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%); 
    min-height: 100vh;
    overflow-x: hidden;
  }
   .vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
  }
  .page-content {
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s;
  } 
  
  #sidebar.active {
    margin-left: -17rem;
  }
  
  #content.active {
    width: 100%;
    margin: 0;
  }
  
  .separator {
    margin: 3rem 0;
    border-bottom: 1px dashed #fff;
  }
  
  .text-uppercase {
    letter-spacing: 0.1em;
  }
  .text-gray {
    color: #aaa;
  }
  .nav-link{
      text-transform: capitalize;
  }
  .nav-link:hover{
      background:#f3f2f2;
  }
  .text-primary{
      color:#7579e7 !important;
  }
  @media (max-width: 768px) {
    #sidebar {
      margin-left: -17rem;
    }
    #sidebar.active {
      margin-left: 0;
    }
    #content {
      width: 100%;
      margin: 0;
    }
    #content.active {
      margin-left: 17rem;
      width: calc(100% - 17rem);
    }
  }

  /* width */
::-webkit-scrollbar {
  width: 0.7rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #485461; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #485461; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #436577; 
}
